<h2 class="master-counter"><span>{{data.count_masters}}</span> мастеров на ваш выбор</h2>
<div class="selection clearfix">

    <div class="item" ng-repeat="master in data.masters">
        <div class="favorite" ng-class="{active: data.masterInFavorites(master)}" ng-click="data.addToFavorites(master._id)"></div>
        <a href="#" ui-sref="remontas.profile({ id: getIdForMaster(master) })">
            <div class="img ">
                <img ng-src="{{data.configUrl.img_url_path + master.avatar}}" width="187 " height="187 ">
                <div>{{master.count_works}} работ</div>
            </div>
            <div class="name ">{{master.name}}</div>
        </a>
    </div>

</div>
<div class="pagination clearfix">
    <a ng-if="data.current_page>1" href="#" class="left" ng-click="data.loadMasters(data.current_page-1)">назад</a>
    <ul class="clearfix">

        <li ng-repeat="i in getNumber(data.max_page) track by $index" ng-class="{active: $index+1==data.current_page}"><a ng-if="$index+1!=data.current_page" href="#" ng-click="data.loadMasters($index+1)">{{$index+1}}</a><span ng-if="$index+1==data.current_page">{{$index+1}}</span></li>

    </ul>
    <a ng-if="data.current_page<data.max_page" href="#" class="right" ng-click="data.loadMasters(data.current_page+1)">вперёд</a>
</div>