<h2 class="master-counter"><span>{{mastersCount}}</span> мастеров на ваш выбор</h2>
<div class="selection clearfix">

    <a href="#" class="item" ng-repeat="master in masters">
        <div class="favorite "></div>
        <div class="img ">
            <img ng-src="{{master.foto}}" width="187 " height="187 ">
            <div>{{master.jobs_count}}</div>
        </div>
        <div class="name ">{{master.name}}</div>
    </a>

</div>
<div class="pagination clearfix">
    <a href="#" class="left">назад</a>
    <ul class="clearfix">

        <li ng-repeat="i in getNumber(maxPage) track by $index" ng-class="{active: $index+1==currentPage}"><a ng-if="$index+1!=currentPage" href="#">{{$index+1}}</a><span ng-if="$index+1==currentPage">{{$index+1}}</span></li>

        <!--
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li class="active">3</li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">6</a></li>
-->
    </ul>
    <a href="#" class="right">вперёд</a>
</div>
