<div class="wrapper">
    <div class="content">
        <div class="container">
            <h1 class="text-center">Ваш список сравнения</h1>
            <div class="page">
                <div class="corner"></div>
                <div class="comparison clearfix">
                    <div class="params">
                        <div class="caption">
                            <div class="counter">14 мастеров</div>
                            <div class="params-filter">
                                <div class="active">Все цены</div>
                                <div><a href="#">Различающиеся</a></div>
                            </div>
                        </div>

                        <div class="job" ng-repeat="element in model.categories" ng-mouseenter="model.mouseOver = element._id" ng-mouseleave="model.mouseOver = ''">
                            <div class="marked" ng-if="element.type=='service'">{{element.name}}</div>
                            <div class="job-name" ng-class="{active:model.checked==element._id,mouseOver:element.type=='job' && model.mouseOver==element._id, mouseOverPos:element.shortName != undefined}" ng-if="element.type=='job'" ng-click="model.checked = element._id">{{showServiceText(element)}}</div>
                            <div class="price" ng-class="{active:model.checked==element._id,mouseOver:element.type=='job' && model.mouseOver==element._id}" ng-bind-html="prepareHTML(showAveragePrice(element))"></div>
                        </div>
                    </div>

                    <!--
						<div class="masters clearfix">

							<ul id="horiz_container_outer">
								<li id="horiz_container_inner">
									<ul id="horiz_container" class="clearfix">
										<li>
											<div class="item">
												<div class="name">Виталий</div>
												<div class="photo">
													<div class="favorite"></div>
													<img src="assets/img/img-master-1.jpg" width="80" height="80">
												</div>
												<div class="phone">+7 909 786 43 98</div>
												<div class="delimiter" style="margin-top: 27px"></div>
												<div data-param="param-1">320 руб/м<sup>2</sup></div>
												<div data-param="param-2">320 руб/м<sup>2</sup></div>
												<div data-param="param-3">320 руб/м<sup>2</sup></div>
												<div data-param="param-4">320 руб/м<sup>2</sup></div>
												<div data-param="param-5">да</div>
												<div class="delimiter" style="margin-top: 16px"></div>
												<div data-param="param-6">320 руб/м<sup>2</sup></div>
												<div data-param="param-7">320 руб/м<sup>2</sup></div>
												<div data-param="param-8">500 руб</div>
												<div data-param="param-9">320 руб/м<sup>2</sup></div>
												<div data-param="param-10">1500 руб</div>
												<div class="delimiter" style="margin-top: 16px"></div>
												<div data-param="param-11">320 руб/м</div>
												<div data-param="param-12">320 руб/шт</div>
												<div data-param="param-13">320 руб/шт</div>
												<div data-param="param-14">320 руб/м</div>
											</div>
										</li>
										<li>
											<div class="item">
												<div class="name">Виталий</div>
												<div class="photo">
													<div class="favorite active"></div>
													<img src="assets/img/img-master-nophoto.jpg" width="80" height="80">
												</div>
												<div class="phone">+7 909 786 43 98</div>
												<div class="delimiter" style="margin-top: 27px"></div>
												<div data-param="param-1">320 руб/м<sup>2</sup></div>
												<div data-param="param-2">320 руб/м<sup>2</sup></div>
												<div data-param="param-3">320 руб/м<sup>2</sup></div>
												<div data-param="param-4">320 руб/м<sup>2</sup></div>
												<div data-param="param-5">да</div>
												<div class="delimiter" style="margin-top: 16px"></div>
												<div data-param="param-6">320 руб/м<sup>2</sup></div>
												<div data-param="param-7">320 руб/м<sup>2</sup></div>
												<div data-param="param-8">500 руб</div>
												<div data-param="param-9">320 руб/м<sup>2</sup></div>
												<div data-param="param-10">1500 руб</div>
												<div class="delimiter" style="margin-top: 16px"></div>
												<div data-param="param-11">320 руб/м</div>
												<div data-param="param-12">320 руб/шт</div>
												<div data-param="param-13">320 руб/шт</div>
												<div data-param="param-14">320 руб/м</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>

							<div id="scrollbar">
								<div id="track">
									<div id="dragBar"></div>
								</div>
							</div>

						</div>
						-->

                    <div class="masters clearfix">
                        <div class="inner">
                            <div class="item" ng-repeat="master in model.masters">
                                <div class="name">{{master.name}}</div>
                                <div class="photo">
                                    <div class="favorite"></div>
                                    <img ng-src="{{model.configUrl.img_url_path + master.avatar}}" width="80" height="80">
                                </div>
                                <div class="phone">{{showPhone(master.phone)}}</div>

                                <div ng-repeat="element in model.categories" ng-mouseenter="model.mouseOver = element._id" ng-mouseleave="model.mouseOver = ''">
                                    <div ng-if="element.type=='service'" class="delimiter"></div>
                                    <div ng-if="element.type=='job'" ng-class="{active:model.checked == element._id, mouseOver:model.mouseOver==element._id}" ng-click="model.checked = element._id" ng-attr-data-param="{{'param-' + $index}}" ng-bind-html="prepareHTML(showPrice(element, $index, master))"></div>
                                </div>

                                <!--
                                <div class="delimiter" style="margin-top: 27px"></div>
                                <div data-param="param-1">320 руб/м<sup>2</sup></div>
                                <div data-param="param-2">320 руб/м<sup>2</sup></div>
                                <div data-param="param-3">320 руб/м<sup>2</sup></div>
                                <div data-param="param-4">320 руб/м<sup>2</sup></div>
                                <div data-param="param-5">да</div>
                                <div class="delimiter" style="margin-top: 16px"></div>
                                <div data-param="param-6">320 руб/м<sup>2</sup></div>
                                <div data-param="param-7">320 руб/м<sup>2</sup></div>
                                <div data-param="param-8">500 руб</div>
                                <div data-param="param-9">320 руб/м<sup>2</sup></div>
                                <div data-param="param-10">1500 руб</div>
                                <div class="delimiter" style="margin-top: 16px"></div>
                                <div data-param="param-11">320 руб/м</div>
                                <div data-param="param-12">320 руб/шт</div>
                                <div data-param="param-13">320 руб/шт</div>
                                <div data-param="param-14">320 руб/м</div>
-->
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div id="order-btn" class="open-modal" data-modal-name="order"></div>

    <!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
-->
    <!--<script type="text/javascript" src="assets/js/jquery-horizontal-scrollbars/jquery.horizontal.scroll.js"></script>-->
    <!--
	<script type="text/javascript" src="assets/js/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>
-->