<div class="wrapper">
    <div class="content">
        <div class="container">
            <div class="my">

                <h1 class="text-center">Ваш кабинет</h1>

                <h2 class="text-center">
						Профиль <span>45 баллов</span> <a href="#" class="open-hint" data-hint-name="hint-what-is-it">Что это?</a>
					</h2>

                <!-- Что это? -->
                <div id="hint-what-is-it" class="hint-window">
                    <div class="corner"></div>
                    <div class="body">
                        <h3>Оценка портфолио мастера</h3>
                        <div>
                            <ul>
                                <li class="ok">Заполнена общая информация: 5 баллов</li>
                                <li class="ok">Заполнено 50% услуг по категории: 10 баллов</li>
                                <li class="ok">Заполнено 100% услуг по категории: 20 баллов</li>
                                <li class="ok">Добавлена 1 работа с не менее чем 5-ю фото: 10 баллов</li>
                                <li class="comment">Добавлено 5 работ с не менее чем 5-ю фото: 35 баллов</li>
                                <li class="comment">Положительные отзывы: 20 беллов</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Что это? -->

                <div class="person clearfix">
                    <div class="photo"><img ng-src="{{masterData.avatar}}" width="209" height="249"></div>
                    <div class="fields">
                        <div class="part-1">
                            <div class="username clearfix" ng-if="masterData.kind_profile=='phys'">
                                <input type="text" readonly="readonly" placeholder="Имя" required="required" ng-model="masterData.name">
                                <input type="text" readonly="readonly" placeholder="Отчество" required="required" ng-model="masterData.sername">
                                <input type="text" readonly="readonly" placeholder="Фамилия" required="required" ng-model="masterData.patronymic">
                            </div>
                            <div ng-if="masterData.kind_profile=='org'">
                                <input type="text" readonly="readonly" placeholder="Имя" required="required" ng-model="masterData.name">
                            </div>
                            <div>
                                <input type="text" readonly="readonly" placeholder="Email" required="required" ng-model="masterData.email">
                            </div>

                            <div class="phones clearfix">

                                <div class="phone-1">
                                    <input type="text" ui-mask="+7 (999) 999 99 99" required="required" ng-model="masterData.phone1">
                                </div>

                                <div class="phone-2">
                                    <input type="text" ui-mask="+7 (999) 999 99 99" required="required" ng-model="masterData.phone2">
                                </div>
                            </div>

                            <div class="selectors clearfix">

                                <div class="service-1">
                                    <input type="text" readonly="readonly" required="required" placeholder="Выбрано категории {{masterData.categories.length}}" ng-click="showCategoriesMenu()">
                                    <div class="sub" ng-if="interfaceOptions.showCategory">
                                        <!--<div>Услуга мастер на час</div>-->
                                        <div class="counter">Отмечено категории <strong>{{tempMasterCategoriesSelect.length}}</strong></div>
                                        <div ng-repeat="element in categories | filter:{'type':'category'} | orderBy:'order'" ng-click="checkCategory(element)"><span ng-class="{active: isCheckedCategory(element)}">{{element.val}}</span></div>
                                        <abbr class="btn" ng-click="selectCategories()">Выбрать</abbr>
                                    </div>
                                </div>

                                <div class="service-2">
                                    <input type="text" readonly="readonly" required="required" placeholder="Выбрано доп. услуг {{masterData.additional_service.length}}" ng-click="showAdditionalServiceMenu()">
                                    <div class="sub" ng-if="interfaceOptions.showAddServices">
                                        <!--<div>Услуга мастер на час</div>-->
                                        <div class="counter">Отмечено доп. услуг <strong>{{tempAdditional_service.length}}</strong></div>
                                        <div ng-click="checkAdditionalService('contractWork')"><span ng-class="{active: isCheckedAdditionalService('contractWork')}">Работа по договору</span></div>
                                        <div ng-click="checkAdditionalService('masterOnHour')"><span ng-class="{active: isCheckedAdditionalService('masterOnHour')}">Услуга мастер на час</span></div>
                                        <abbr class="btn" ng-click="selectAdditionalService()">Выбрать</abbr>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="part-2">
                            <div>
                                <textarea placeholder="Подробно опишите свою деятельность, опыт работы, преимущества и пр." ng-model="masterData.detail"></textarea>
                            </div>
                            <button class="btn saveMaster" ng-click="saveMainData()">Сохранить</button>
                        </div>
                    </div>
                </div>




                <div class="fragment">
                    <h2 class="text-center">Услуги <span>47</span></h2>

                    <div class="service-list clearfix">
                        <div ng-repeat="(elementCategories_key, elementCategories_value) in masterData.categories | orderBy:'order'">

                            <!--                        <div class="clearfix" ng-class="{active: checkKind_services.isCheckKind_services && checkKind_services.checkKind_services == elementKind_services}" ng-repeat="elementKind_services in categories | filter: filtrMasterCategories | orderBy:'order' | orderBy:'parent_id'">-->
                            <div class="clearfix" ng-repeat="(elementKind_services_key, elementKind_services_value) in masterData.categories[elementCategories_key].kind_services | orderBy:'order'">
                                <h3>{{elementKind_services_value.name}}</h3>

                                <div ng-repeat="(elementServices_key, elementServices_value) in masterData.categories[elementCategories_key].kind_services[elementKind_services_key].services | orderBy:'order'">{{elementServices_value.name}}<span>{{elementServices_value.price}} <!-- {{elementServices_value.measure}}--></span>
                                    <div class="del">Удалить</div>
                                </div>



                                <!--                            <div class="more" ng-class="{active: checkKind_services.isCheckKind_services}">-->
                                <!--
                            <div class="more">
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                                <div>Укладка плитки<span>200 руб/м<sup>2</sup></span>
                                    <div class="del">Удалить</div>
                                </div>
                            </div>
                            <a href="#" class="open-more" ng-if="!checkKind_services.isCheckKind_services" ng-click="selectKindServices(elementKind_services)">Посмотреть все</a>
                            <a href="#" class="close-more" ng-if="checkKind_services.isCheckKind_services" ng-click="selectKindServices(elementKind_services)">Свернуть</a>
                            <a href="#" class="add-service open-modal" data-modal-name="add-service">Добавить услуги</a>
-->
                            </div>
                        </div>
                    </div>
                </div>







                <div class="fragment">
                    <h2 class="text-center">Работы <span>27</span></h2>
                    <div class="works clearfix">
                        <a href="#" class="item add open-modal" data-modal-name="add-work"></a>

                        <a href="#" class="item">
                            <div class="edit"></div>
                            <div class="img">
                                <img src="assets/img/img-room-1.png" width="187" height="187">
                            </div>
                            <div class="title">Заголовок</div>
                        </a>

                        <a href="#" class="item">
                            <div class="edit"></div>
                            <div class="img">
                                <img src="assets/img/img-room-1.png" width="187" height="187">
                            </div>
                            <div class="title">Заголовок
                                <br> в две строки</div>
                        </a>

                        <a href="#" class="item">
                            <div class="edit"></div>
                            <div class="img">
                                <img src="assets/img/img-room-1.png" width="187" height="187">
                            </div>
                            <div class="title">Заголовок</div>
                        </a>
                        <a href="#" class="item">
                            <div class="edit"></div>
                            <div class="img">
                                <img src="assets/img/img-room-1.png" width="187" height="187">
                            </div>
                            <div class="title">Заголовок</div>
                        </a>
                        <a href="#" class="item">
                            <div class="edit"></div>
                            <div class="img">
                                <img src="assets/img/img-room-1.png" width="187" height="187">
                            </div>
                            <div class="title">Заголовок</div>
                        </a>
                        <a href="#" class="item">
                            <div class="edit"></div>
                            <div class="img">
                                <img src="assets/img/img-room-1.png" width="187" height="187">
                            </div>
                            <div class="title">Заголовок</div>
                        </a>
                        <a href="#" class="item">
                            <div class="edit"></div>
                            <div class="img">
                                <img src="assets/img/img-room-1.png" width="187" height="187">
                            </div>
                            <div class="title">Заголовок</div>
                        </a>
                        <a href="#" class="item">
                            <div class="edit"></div>
                            <div class="img">
                                <img src="assets/img/img-room-1.png" width="187" height="187">
                            </div>
                            <div class="title">Заголовок</div>
                        </a>
                        <a href="#" class="item">
                            <div class="edit"></div>
                            <div class="img">
                                <img src="assets/img/img-room-1.png" width="187" height="187">
                            </div>
                            <div class="title">Заголовок</div>
                        </a>
                    </div>



                    <div class="pagination clearfix">
                        <a href="#" class="left">назад</a>
                        <ul class="clearfix">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active">3</li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                        </ul>
                        <a href="#" class="right">вперёд</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Добавление работы -->
<div id="add-work">
    <div class="close-modal"></div>
    <div class="container">
        <h2>Добавление работы</h2>
        <p style="font-weight: 300">Максимум 24 фото</p>

        <div class="works clearfix">
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
            <a href="#" class="item">
                <div class="edit">
                    <div class="change">Заменить</div>
                    <div class="del">Удалить</div>
                </div>
                <div class="img">
                    <img src="assets/img/img-room-1.png" width="187" height="187">
                </div>
                <input placeholder="Описание фото" />
            </a>
        </div>

        <div class="add">
            <a href="#">+ добавить фото</a>
            <p>Перетащите сюда файлы
                <br>для загрузки</p>
        </div>

        <button>Сохранить</button>
    </div>

</div>
<!-- /Добавление работы -->


<!-- Добавление услуг -->
<div id="add-service">
    <div class="close-modal"></div>
    <h2>Добавление услуг</h2>
    <p style="font-weight: 300">Сантехнические работы</p>

    <div class="add-form">
        <div class="item clearfix">
            <div class="some-service">
                <input type="text" readonly="readonly" required="required" placeholder="Наименование услуги">
                <div class="sub">
                    <div>Мебель на заказ</div>
                    <div>Ремонтно-отделочные работы</div>
                    <div>Дизайн интерьеров</div>
                </div>
            </div>
            <div class="price">
                <input type="text" required="required" placeholder="Цена">
            </div>
        </div>
        <a href="#">+ добавтиь позицию</a>
        <button disabled="disabled">Отправить</button>
    </div>

    <div class="item template-service-hidden clearfix">
        <div class="some-service">
            <input type="text" readonly="readonly" required="required" placeholder="Наименование услуги">
            <div class="sub">
                <div>Мебель на заказ</div>
                <div>Ремонтно-отделочные работы</div>
                <div>Дизайн интерьеров</div>
            </div>
        </div>
        <div class="price">
            <input type="text" required="required" placeholder="Цена">
        </div>
    </div>
</div>
<!-- /Добавление услуг -->



</div>
