<div class="wrapper">
    <div class="content">
        <div class="container">
            <div class="my">

                <h1 class="text-center">Ваш кабинет</h1>

                <h2 class="text-center">
						Профиль <span>45 баллов</span> <a href="#" class="open-hint" data-hint-name="hint-what-is-it">Что это?</a>
					</h2>

                <!-- Что это? -->
                <div id="hint-what-is-it" class="hint-window">
                    <div class="corner"></div>
                    <div class="body">
                        <h3>Оценка портфолио мастера</h3>
                        <div>
                            <ul>
                                <li class="ok">Заполнена общая информация: 5 баллов</li>
                                <li class="ok">Заполнено 50% услуг по категории: 10 баллов</li>
                                <li class="ok">Заполнено 100% услуг по категории: 20 баллов</li>
                                <li class="ok">Добавлена 1 работа с не менее чем 5-ю фото: 10 баллов</li>
                                <li class="comment">Добавлено 5 работ с не менее чем 5-ю фото: 35 баллов</li>
                                <li class="comment">Положительные отзывы: 20 беллов</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Что это? -->

                <div class="person clearfix">
                    <div class="photo">
                        <img ng-src="{{data.configUrl.img_url_path + data.master.avatar}}" width="209" height="249" ng-if="data.uploadData.newAvatar==null">
                        <img ngf-src="data.uploadData.avatar" ngf-resize="{width: 200, height: 200, quality: 0.9}">
                        <button class="btn changeAvatarButton" ng-click="changeAvatar()">Изменить</button>
                    </div>

                    <div class="fields">
                        <div class="part-1">
                            <div class="username clearfix" ng-if="data.master.kind_profile=='phys'">
                                <input type="text" readonly="readonly" placeholder="Имя" required="required" ng-model="data.master.name">
                                <input type="text" readonly="readonly" placeholder="Отчество" required="required" ng-model="data.master.sername">
                                <input type="text" readonly="readonly" placeholder="Фамилия" required="required" ng-model="data.master.patronymic">
                            </div>
                            <div ng-if="data.master.kind_profile=='org'">
                                <input type="text" readonly="readonly" placeholder="Имя" required="required" ng-model="data.master.name">
                            </div>
                            <div>
                                <input type="text" readonly="readonly" placeholder="Email" required="required" ng-model="data.master.email">
                            </div>

                            <div class="phones clearfix">

                                <div class="phone-1">
                                    <input type="text" ui-mask="+7 (999) 999 99 99" required="required" ng-model="data.master.phone1">
                                </div>

                                <div class="phone-2">
                                    <input type="text" ui-mask="+7 (999) 999 99 99" required="required" ng-model="data.master.phone2">
                                </div>
                            </div>

                            <div class="selectors clearfix">

                                <div class="service-1">
                                    <input type="text" readonly="readonly" required="required" placeholder="Выбрано категории {{data.master.categories.length}}" ng-click="showCategoriesMenu()">
                                    <div class="sub" ng-if="interfaceOptions.showCategory">
                                        <!--<div>Услуга мастер на час</div>-->
                                        <div class="counter">Отмечено категории <strong>{{data.master.categories.length}}</strong></div>
                                        <div ng-repeat="element in data.categories | filter:{'type':'category'} | orderBy:'order'" ng-click="checkCategory(element)"><span ng-class="{active: isCheckedCategory(element)}">{{element.val}}</span></div>
                                        <abbr class="btn" ng-click="selectCategories()">Выбрать</abbr>
                                    </div>
                                </div>

                                <div class="service-2">
                                    <input type="text" readonly="readonly" required="required" placeholder="Выбрано доп. услуг {{data.master.additional_service.length}}" ng-click="showAdditionalServiceMenu()">
                                    <div class="sub" ng-if="interfaceOptions.showAddServices">
                                        <!--<div>Услуга мастер на час</div>-->
                                        <div class="counter">Отмечено доп. услуг <strong>{{tempAdditional_service.length}}</strong></div>
                                        <div ng-click="checkAdditionalService('contractWork')"><span ng-class="{active: isCheckedAdditionalService('contractWork')}">Работа по договору</span></div>
                                        <div ng-click="checkAdditionalService('masterOnHour')"><span ng-class="{active: isCheckedAdditionalService('masterOnHour')}">Услуга мастер на час</span></div>
                                        <abbr class="btn" ng-click="selectAdditionalService()">Выбрать</abbr>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="part-2">
                            <div>
                                <textarea placeholder="Подробно опишите свою деятельность, опыт работы, преимущества и пр." ng-model="data.master.detail"></textarea>
                            </div>
                            <button class="btn saveMaster" ng-click="saveMaster()">Сохранить</button>
                        </div>
                    </div>
                </div>




                <div class="fragment" ng-if="data.master != undefined && data.categories != undefined">
                    <h2 class="text-center">Услуги <span>{{interfaceOptions.countServices}}</span></h2>
                    <!--                    <div class="service-list clearfix" ng-class="{height2: elementCategories_value.kind_services.length > 3}" ng-repeat="(elementCategories_key, elementCategories_value) in data.master.categories.sort(compareOrder)">-->
                    <!--                    <div class="service-list clearfix" ng-repeat="(elementCategories_key, elementCategories_value) in data.categories.sort(compareOrder)|filter:{type:'category'}|filter:onlyMasterCategory()">-->
                    <div class="service-list clearfix" ng-class="{height2: data.kind_services.length > 3 && data.kind_services.length<7, height3: data.kind_services.length > 6}">
                        <!--1ng-if="elementCategories_value.visible"-->


                        <!--                        <div class="clearfix" ng-class="{active: elementKind_services_value._id == interfaceOptions.checkKind_services}" ng-repeat="(elementKind_services_key, elementKind_services_value) in data.master.categories[elementCategories_key].kind_services.sort(compareOrder)">-->
                        <!--                        <div class="clearfix" ng-repeat="(elementKind_services_key, elementKind_services_value) in data.categories.sort(compareOrder)|filter:{parent_id:elementCategories_value._id}">-->
                        <div class="clearfix" ng-repeat="(elementKind_services_key, elementKind_services_value) in data.kind_services">
                            <table>
                                <caption>{{elementKind_services_value.name}}</caption>
                                <col class="col1_table">
                                    <col class="col2_table">
                                        <tr ng-if="elementKind_services_value._id != interfaceOptions.checkKind_services" ng-repeat="(elementServices_key, elementServices_value) in elementKind_services_value.services.sort(compareOrder).slice(0,5)">
                                            <td class="job">{{elementServices_value.name}}</td>
                                            <td class="price" ng-bind-html="preparePriceHTML(elementServices_value.price, elementServices_value.measure)"></td>
                                        </tr>

                                        <tr ng-if="elementKind_services_value._id == interfaceOptions.checkKind_services" ng-repeat="(elementServices_key, elementServices_value) in elementKind_services_value.services.sort(compareOrder)">
                                            <td class="job">{{elementServices_value.name}}</td>
                                            <td class="price" ng-bind-html="preparePriceHTML(elementServices_value.price, elementServices_value.measure)"></td>
                                        </tr>

                                        <tr class="footer_table">
                                            <td colspan="2">
                                                <a href="#" class="open-more" ng-if="(elementKind_services_value._id != interfaceOptions.checkKind_services) && elementKind_services_value.services.length > 5" ng-click="selectKindServices(elementKind_services_value._id)">Посмотреть все</a>
                                                <a href="#" class="close-more" ng-if="elementKind_services_value._id == interfaceOptions.checkKind_services" ng-click="selectKindServices(elementKind_services_value._id)">Свернуть</a>
                                                <!--                                                <span><a href="#" class="add-service open-modal" data-modal-name="add-service">Добавить услуги</a></span>-->
                                                <span><a href="#" class="add-service" ng-click="changeServices(elementKind_services_value)">Изменить услуги</a></span>
                                            </td>
                                        </tr>
                            </table>
                        </div>

                        <!--                    </div>-->
                    </div>







                    <div class="fragment">
                        <h2 class="text-center">Работы <span>27</span></h2>
                        <div class="works clearfix">
                            <a href="#" class="item add open-modal" data-modal-name="add-work"></a>


                            <a href="#" class="item" ng-repeat="work in masterData.works" ng-mouseenter="interfaceOptions.mouseOverWork[$index]=true" ng-mouseleave="interfaceOptions.mouseOverWork[$index]=false">
                                <div class="edit" ng-show="interfaceOptions.mouseOverWork[$index]"></div>
                                <div class="img">
                                    <img ng-src="{{getImgLink(work)}}" width="187" height="187">
                                </div>
                                <div class="title">Заголовок</div>
                            </a>

                            <a href="#" class="item">
                                <div class="edit"></div>
                                <div class="img">
                                    <img src="assets/img/img-room-1.png" width="187" height="187">
                                </div>
                                <div class="title">Заголовок</div>
                            </a>
                            <a href="#" class="item">
                                <div class="edit"></div>
                                <div class="img">
                                    <img src="assets/img/img-room-1.png" width="187" height="187">
                                </div>
                                <div class="title">Заголовок</div>
                            </a>
                            <a href="#" class="item">
                                <div class="edit"></div>
                                <div class="img">
                                    <img src="assets/img/img-room-1.png" width="187" height="187">
                                </div>
                                <div class="title">Заголовок</div>
                            </a>
                            <a href="#" class="item">
                                <div class="edit"></div>
                                <div class="img">
                                    <img src="assets/img/img-room-1.png" width="187" height="187">
                                </div>
                                <div class="title">Заголовок</div>
                            </a>
                            <a href="#" class="item">
                                <div class="edit"></div>
                                <div class="img">
                                    <img src="assets/img/img-room-1.png" width="187" height="187">
                                </div>
                                <div class="title">Заголовок</div>
                            </a>
                        </div>



                        <div class="pagination clearfix">
                            <a href="#" class="left">назад</a>
                            <ul class="clearfix">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="active">3</li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                            </ul>
                            <a href="#" class="right">вперёд</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Добавление работы -->
    <div id="add-work">
        <div class="close-modal"></div>
        <div class="container">
            <h2>Добавление работы</h2>
            <p style="font-weight: 300">Максимум 24 фото</p>

            <div class="works clearfix">
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
                <a href="#" class="item">
                    <div class="edit">
                        <div class="change">Заменить</div>
                        <div class="del">Удалить</div>
                    </div>
                    <div class="img">
                        <img src="assets/img/img-room-1.png" width="187" height="187">
                    </div>
                    <input placeholder="Описание фото" />
                </a>
            </div>

            <div class="add">
                <a href="#">+ добавить фото</a>
                <p>Перетащите сюда файлы
                    <br>для загрузки</p>
            </div>

            <button>Сохранить</button>
        </div>

    </div>
    <!-- /Добавление работы -->
