<div class="wrapper" ng-if="model.master!=undefined">
    <div class="content">

        <div class="container">
            <h1 class="text-center">{{getNameMaster()}}</h1>
            <div class="about-extra clearfix">
                <div class="corner"></div>
                <div class="item compare">К сравнению</div>
                <div class="item portfolio"><strong>{{model.master.works.length}}</strong> работы</div>
                <div class="item phones">{{model.master.phone1}}
                    <br/>{{model.master.phone2}}</div>
                <div class="item add-service-container">
                    <div class="item master-on-hour" ng-if="haveAdditionalService('masterOnHour')">Мастер на час</div>
                    <div class="item contract-work" ng-if="haveAdditionalService('contractWork')">Работа по договору</div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="text-center">О мастере / Бригаде / Компании</h2>
            <div class="master-about">
                <p><span class="citate-start"></span>{{model.master.detail}}<span class="citate-end"></span></p>
            </div>
        </div>

        <div class="container">
            <h2 class="text-center"><strong>Услуги</strong></h2>
            <div class="service-list clearfix">
                <div id="list-1" class="clearfix">
                    <h3>Ремонтно-отделоные работы</h3>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div class="more">
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    </div>
                    <a href="#" class="open-more">Посмотреть все</a>
                    <a href="#" class="close-more">Свернуть</a>
                </div>
                <div id="list-2" class="clearfix">
                    <h3>Ванные комнаты и сан. узлы</h3>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div class="more">
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    </div>
                    <a href="#" class="open-more">Посмотреть все</a>
                    <a href="#" class="close-more">Свернуть</a>
                </div>
                <div id="list-3" class="clearfix">
                    <h3>Электромонтажные работы</h3>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                </div>
            </div>
        </div>

        <div class="delimiter"></div>

        <div class="container">
            <h2 class="text-center">Портфолио мастера / Бригады / Компании</h2>
            <div class="gallery clearfix">
                <a href="#" class="item user">
                    <div class="img">
                        <img ng-src="{{model.configUrl.img_url_path + model.master.avatar}}" width="187" height="187">
                    </div>
                    <div class="title">{{model.master.name}}</div>
                </a>

                <a href="#" class="item fancybox" ng-repeat="work in model.master.works" ng-click="openViewer(work)">
                    <div class="img">
                        <img ng-src="{{getImgLink(work)}}" width="187" height="187">
                    </div>
                    <div class="title-container">
                        <div class="title">{{shrinkText(work.description)}}</div>
                    </div>
                </a>
            </div>

        </div>

    </div>

</div>


<!--<div id="order-btn" class="open-modal" data-modal-name="order"></div>-->
