<div class="wrapper">
    <div class="content">

        <div class="container">
            <h1 class="text-center">Иннокентий Плиточкин</h1>
            <div class="about-extra clearfix">
                <div class="corner"></div>
                <div class="item compare">К сравнению</div>
                <div class="item portfolio"><strong>24</strong> работы</div>
                <div class="item phones">909 742 36 18
                    <br/>922 765 45 98</div>
            </div>
        </div>

        <div class="container">
            <h2 class="text-center">О мастере / Бригаде / Компании</h2>
            <div class="master-about">
                <p><span class="citate-start"></span>Ремонт квартир - далеко не тривиальная задача, нужно обладать большим запасом терпения и сил. Не только от физических нагрузок, пыли, шума, потерянного времени, материальных расходов но и недовольных соседей. Ремонт — удовольствие отнюдь не для бедных. Инструменты, строительные материалы или услуги ремонтных компаний — это довольно затратно!</p>
                <p>Но, все же каждый должен заниматься своим делом и если вы находитесь в поиске строительных бригад, вы обязательно должны познакомится с нашим коллективом. Замеры с расчетом стоимости работы и материалов, выполняются нашей бригадой бесплатно и не к чему вас не обязывают.<span class="citate-end"></span></p>
            </div>
        </div>

        <div class="container">
            <h2 class="text-center"><strong>Услуги</strong></h2>
            <div class="service-list clearfix">
                <div id="list-1" class="clearfix">
                    <h3>Ремонтно-отделоные работы</h3>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div class="more">
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    </div>
                    <a href="#" class="open-more">Посмотреть все</a>
                    <a href="#" class="close-more">Свернуть</a>
                </div>
                <div id="list-2" class="clearfix">
                    <h3>Ванные комнаты и сан. узлы</h3>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div class="more">
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                        <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    </div>
                    <a href="#" class="open-more">Посмотреть все</a>
                    <a href="#" class="close-more">Свернуть</a>
                </div>
                <div id="list-3" class="clearfix">
                    <h3>Электромонтажные работы</h3>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                    <div>Укладка плитки<span>200 руб/м<sup>2</sup></span></div>
                </div>
            </div>
        </div>

        <div class="delimiter"></div>

        <div class="container">
            <h2 class="text-center">Портфолио мастера / Бригады / Компании</h2>
            <div class="gallery clearfix">
                <a href="#" class="item user">
                    <div class="img">
                        <img src="storage/img-user-1.png" width="187" height="187">
                    </div>
                    <div class="title">Иннокентий</div>
                </a>

                <a href="storage/gallery/img-1.png" class="item fancybox" rel="group-1" title="Группа 1: Описание фото 1">
                    <div class="img">
                        <img src="storage/img-room-1.png" width="187" height="187">
                    </div>
                    <div class="title">Заголовок</div>
                </a>

                <a href="storage/gallery/1_b.jpg" class="item fancybox" rel="group-2" title="Группа 2: Описание фото 1">
                    <div class="img">
                        <img src="storage/img-room-1.png" width="187" height="187">
                    </div>
                    <div class="title">Заголовок
                        <br> в две строки</div>
                </a>

                <a href="storage/gallery/2_b.jpg" class="item fancybox" rel="group-3" title="Группа 3: Описание фото 1">
                    <div class="img">
                        <img src="storage/img-room-1.png" width="187" height="187">
                    </div>
                    <div class="title">Заголовок</div>
                </a>
                <a href="#" class="item">
                    <div class="img">
                        <img src="storage/img-room-1.png" width="187" height="187">
                    </div>
                    <div class="title">Заголовок</div>
                </a>
                <a href="#" class="item">
                    <div class="img">
                        <img src="storage/img-room-1.png" width="187" height="187">
                    </div>
                    <div class="title">Заголовок</div>
                </a>
                <a href="#" class="item">
                    <div class="img">
                        <img src="storage/img-room-1.png" width="187" height="187">
                    </div>
                    <div class="title">Заголовок</div>
                </a>
                <a href="#" class="item">
                    <div class="img">
                        <img src="storage/img-room-1.png" width="187" height="187">
                    </div>
                    <div class="title">Заголовок</div>
                </a>
                <a href="#" class="item">
                    <div class="img">
                        <img src="storage/img-room-1.png" width="187" height="187">
                    </div>
                    <div class="title">Заголовок</div>
                </a>
                <a href="#" class="item">
                    <div class="img">
                        <img src="storage/img-room-1.png" width="187" height="187">
                    </div>
                    <div class="title">Заголовок</div>
                </a>
            </div>

            <div class="gallery-hidden">
                <div class="group-1">
                    <a href="storage/img-2.jpg" class="item fancybox" rel="group-1" title="Группа 1: Описание фото 2"><img src="storage/img-room-1.png" width="187" height="187"></a>
                    <a href="storage/gallery/img-3.jpg" class="item fancybox" rel="group-1" title="Группа 1: Описание фото 3"><img src="storage/img-room-1.png" width="187" height="187"></a>
                </div>
                <div class="group-2">
                    <a href="storage/gallery/img-2.jpg" class="item fancybox" rel="group-2" title="Группа 2: Описание фото 2"><img src="storage/img-room-1.png" width="187" height="187"></a>
                    <a href="storage/gallery/img-3.jpg" class="item fancybox" rel="group-2" title="Группа 2: Описание фото 3"><img src="storage/img-room-1.png" width="187" height="187"></a>
                </div>
                <div class="group-3">
                    <a href="storage/gallery/img-2.jpg" class="item fancybox" rel="group-3" title="Группа 3: Описание фото 2"><img src="storage/img-room-1.png" width="187" height="187"></a>
                    <a href="storage/gallery/img-3.jpg" class="item fancybox" rel="group-3" title="Группа 3: Описание фото 3"><img src="storage/img-room-1.png" width="187" height="187"></a>
                </div>
            </div>

            <div class="pagination clearfix">
                <a href="#" class="left">назад</a>
                <ul class="clearfix">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active">3</li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                </ul>
                <a href="#" class="right">вперёд</a>
            </div>

        </div>

    </div>

</div>


<div id="order-btn" class="open-modal" data-modal-name="order"></div>
