<div id="modal">
    <div id="add-work">
        <div class="close-modal" ng-click="closeWindow(false)"></div>
        <div class="container">
            <h2>{{model.modeName}}</h2>
            <p style="font-weight: 300">Максимум 12 фото</p>

            <div class="description">
                <textarea placeholder="Опишите работу в целом" ng-model="model.work.description"></textarea>
            </div>

            <div class="works clearfix">
                <a href="#" class="item" ng-repeat="photo in model.work.photos" ng-mouseenter="setCurrentPhoto(photo)" ng-mouseleave="setCurrentPhoto(undefined)">
                    <div class="edit" ng-if="photo == model.currentPhoto">
                        <div class="change" ngf-select="addPhoto($file, $invalidFiles, photo)" accept="image/*" ngf-max-size="6MB" ngf-pattern="'image/*'">Заменить</div>
                        <div class="del" ng-click="deletePhoto(photo)">Удалить</div>
                    </div>
                    <div class="img">

                        <img ng-src="{{model.configUrl.img_url_work_path +photo.filename}}" ng-if="!photo.new" width="187" height="187">
                        <img ngf-src="model.uploadData[photo.filename]" ng-if="photo.new" width="187" height="187">

                    </div>
                    <input placeholder="Описание фото" ng-model="photo.description" />
                </a>

            </div>

            <div class="add" ng-if="model.work.photos.length<12" ngf-drop="addFiles($files,$invalidFiles)" ngf-drag-over-class="'dragOver'" ngf-multiple="true" accept="image/*" ngf-max-size="6MB" ngf-pattern="'image/*'">
                <a href="#" ngf-select="addFiles($files,$invalidFiles)" ngf-multiple="true" accept="image/*" ngf-max-size="6MB" ngf-pattern="'image/*'">+ добавить фото</a>
                <p>Перетащите сюда файлы
                    <br>для загрузки</p>
                <p class="errorMessage" ng-show="model.errorMsg!=''">{{model.errorMsg}}</p>
            </div>
            <div ngf-no-file-drop>Ваш браузер не поддерживает технологию Drag and Drop</div>

            <button ng-click="closeWindow(true)" ng-disabled="model.work.description.length == 0 || model.work.photos.length == 0">Сохранить</button>
            <button class="delete-work-button" ng-click="deleteWork()">Удалить работу</button>
        </div>

    </div>
</div>