<div id="modal">
    <div id="work-viewer">
        <div class="close-modal" ng-click="closeWindow()"></div>
        <div class="container">
            <div class="center-box">
                <div class="text">
                    <p style="font-weight: 300">{{model.work.description}}</p>
                </div>

                <div class="image">
                    <img ng-src="{{model.configUrl.img_url_work_path+model.work.photos[model.indexCurrentPhoto].filename}}">
                    <a href="#" class="left nav" ng-click="previousPhoto()" ng-if="model.work.photos.length > 1">
                        <div><span></span></div>
                    </a>
                    <a href="#" class="right nav" ng-click="nextPhoto()" ng-if="model.work.photos.length > 1">
                        <div><span></span></div>
                    </a>
                </div>

                <div class="text">
                    <p style="font-weight: 300">{{model.work.photos[model.indexCurrentPhoto].description}}</p>
                </div>
            </div>
        </div>
    </div>