<div class="wrapper">
    <div class="content">

        <div class="container">
            <h1 class="text-center">О проекте</h1>
            <div class="page">
                <div class="corner"></div>
                <div class="about text-center">
                    <p class="bold">Команда Ремонтас24 создала сервис , который позволит Вам создать одним кликом тот комфорт и уют, к которому Вы стремитесь.
                    </p>
                    <p>Каждый из нас желает комфорта, теплоты и уюта. Островком этого воплотившегося желания является наша комната, квартира, загородный дом или коттедж и чаще всего именно на своих квадратных метрах мы сможем все это получить, благодаря
                        качественному ремонту.
                    </p>
                    <h3>Наша миссия</h3>
                    <p>Создать самый лучший интернет-сервис в России по подбору мастеров для ремонта и внутренней отделки и строительства загородных домов (коттеджей). Использование нашего сервиса должно приносить удовольствие как Заказчикам, так и Мастерам.</p>
                    <div class="marked">Если вы заинтересованы в сотрудничестве с нами или у вас есть предложения по улучшению работы сайта, то мы ждем Ваших писем на адрес
                        <a href="mailto:ceo@remontas24.ru">ceo@remontas24.ru</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>