<div class="wrapper">
    <div class="content agreement-center">


        <div class="container">
            <div class="agreement text-center clearfix">
                <h1 class="text-center">Публичная оферта</h1>

                <p class="bold">Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта Remontas24.ru компании Ремонтас24 (далее — «Сайт»).</p>

                <h4>1. Общие условия</h4>
                <p>1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>
                <p>1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.</p>
                <p>1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.</p>
                <p>1.4. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</p>
                <p>1.5. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.</p>

                <h4>2. Обязательства Пользователя</h4>
                <p>2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие Российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных прав, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</p>
                <p>2.2. Использование материалов Сайта без согласия правообладателя не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.</p>
                <p>2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, активная, индексируемая ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).</p>
                <p>2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.</p>
                <p>2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.</p>
                <p>2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрации авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.</p>
                <p>2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</p>
                <p>2.8. Пользователь соглашается получать на регулярной основе рассылку с информационными материалами о деятельности Remontas24.ru, акциях, спецпредложениях и так далее.</p>

                <h4>3. Политика конфиденциальности</h4>
                <p>3.1. В рамках использования сайта обеспечивается тайна сообщений и соблюдается конфиденциальность информации о Пользователях, за исключением информации, размещенной на сайте таким образом, что она является доступной всем Пользователям и третьим лицам, а также за исключением случаев обязательного разглашения информации о Пользователях, предусмотренных Законом РФ.</p>
                <p>3.2. При обработке персональных данных пользователей Remontas24.ru руководствуется Федеральным законом РФ «О персональных данных».</p>
                <p>3.3. Remontas24.ru собирает и хранит только те персональные данные, которые необходимы для предоставления Сервисов и оказания услуг.</p>
                <p>3.4. Remontas24.ru принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</p>
                <p>3.5. В целях обработки заявок на поиск мастеров(далее - Заявка) на условиях настоящей Оферты, Пользователь дает согласие Сайту на обработку своих персональных данных, которые Пользователь предоставляет Сайту при оформлении Заявки. Пользователь осведомлен и согласен с тем, что в целях исполнения поданной им Заявки, персональные данные Пользователя могут быть переданы Сайтом на условиях конфиденциальности третьим лицам (например: физическим лицам, оказывающим услуги по ремонту; подрядным организациям оказывающим услуги по ремонту и отделке). Пользователь самостоятельно несёт ответственность за содержание и достоверность предоставленных при подаче Заявки данных.</p>
                <p>3.6. В целях обработки заявок на регистрацию мастеров на сайте(далее - Заявка на регистрацию) на условиях настоящей Оферты, Пользователь дает согласие Сайту на обработку своих персональных данных, которые Пользователь предоставляет Сайту при оформлении Заявки на регистрацию. Пользователь осведомлен и согласен с тем, что в целях исполнения поданной им Заявки на регистрацию и размещение информации о нем в качестве мастера на Сайте, персональные данные Пользователя будут доступны в открытом профиле мастера всем посетителям Сайта. Пользователь самостоятельно несёт ответственность за содержание и достоверность предоставленных им при подаче Заявки на регистрацию данных.</p>

                <p class="bold">Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</p>



            </div>
        </div>

    </div>

</div>
