<div class="wrapper">
    <div class="content">

        <div class="container">
            <h1 class="text-center">Как это работает</h1>
            <div class="page">
                <div class="corner"></div>
                <div class="howWork text-center">

                    <div class="how-to-use-master clearfix ">
                        <div class="item ">
                            <h2>Зарегистрируйся</h2>
                            <img src="/remontas/public/img/hw-round-1.png" width="88 " height="88 ">
                            <p>на сайте </p>
                        </div>
                        <div class="item arrow "><img src="/remontas/public/img/arrow-yellow-right.png " width="40 " height="32 "></div>
                        <div class="item ">
                            <h2>Заполни</h2>
                            <img src="/remontas/public/img/hw-round-2.png" width="88 " height="88 ">
                            <p>информацию о себе
                                <br/>и своих услугах</p>
                        </div>
                        <div class="item arrow "><img src="/remontas/public/img/arrow-yellow-right.png " width="40 " height="32 "></div>
                        <div class="item ">
                            <h2>Добавь</h2>
                            <img src="/remontas/public/img/hw-round-3.png" width="88 " height="88 ">
                            <p>фото своих
                                <br/>работ/проектов</p>
                        </div>
                        <div class="item arrow "><img src="/remontas/public/img/arrow-yellow-right.png " width="40 " height="32 "></div>
                        <div class="item ">
                            <h2>Расскажи</h2>
                            <img src="/remontas/public/img/hw-round-4.png" width="88 " height="88 ">
                            <p>заказчикам о своих
                                <br/>работах/проектах</p>
                        </div>
                        <div class="item arrow "><img src="/remontas/public/img/arrow-yellow-right.png " width="40 " height="32 "></div>
                        <div class="item ">
                            <h2>Получай</h2>
                            <img src="/remontas/public/img/hw-round-5.png" width="88 " height="88 ">
                            <p>заказы </p>
                        </div>
                    </div>

                    <h3>Правила сервиса</h3>
                    <h4>Уважаемые, Мастера!</h4>
                    <p class="bold">Любой сервис, предлагающий и рекламирующий услуги, имеет свои правила, так и сервис Ремонтас24 не является исключением. Для того, чтобы предлагаемые Вами услуги были видны и доступны наибольшему количеству Заказчиков, мы просим Вас
                        ознакомиться с правилами размещения на данном ресурсе.</p>

                    <h4>Правило №1. Один профиль - 2 категории услуг</h4>
                    <p>В личном кабинете вы можете выбрать максимум 2 категории услуг для заполнения. Выбранные категории будут доступны для поиска посетителями сайта.</p>

                    <h4>Правило №2. Качественно заполняйте свой профиль (основные требования к портфолио)</h4>
                    <p>Прежде чем Ваше портфолио будет видно посетителям сайта, необходимо выполнить следующие условия:</p>
                    <p class="bold">1. Загрузить аватарку.</p>
                    <h5>ВАЖНО:</h5>
                    <p>- для мастеров не имеющих юридического лица (ИП или ООО) наличие личного фото обязательно.
                        <br/> - для юридических лиц (ИП или ООО) обязательно наличие логотипа компании или личного фото представителя компании.</p>

                    <p class="bold">2. Добавьте примеры своих работ</p>
                    <p>Не менее 3-х работ с 5-ю фотографиями в каждой.</p>

                    <p class="bold">3. Добавьте хотя бы один контактный номер телефона</p>

                    <p class="bold">4. Заполните прайс более чем на 50%</p>

                    <h4>Правило №3. Чем полнее заполнен профиль - тем выше вероятность, что его увидит Заказчик</h4>

                    <p>За заполнение портфолио начисляются баллы, которые будут напрямую влиять на Вашу позицию на сайте Ремонтас24. Баллы за заполненное портфолио Вы можете увидеть в своем личном кабинете.</p>
                    <p>Мы начисляем баллы:</p>

                    <p>1. За выполнение основных требований к заполнению портфолио – 50 баллов.</p>
                    <p>2. За каждую заполненную услугу в прайсе с указанием стоимости сверх установленного минимума – 1 балл.</p>
                    <p>3. За указание 2-х номеров телефонов – 5 баллов.</p>
                    <p>4. Если описание Ваших услуг составляет более 300 символов – 10 баллов.</p>
                    <p>5. За каждую размещённую в портфолио новую работу – 15 баллов.</p>

                    <h4>Примечание: в свое портфолио Вы можете добавить не более 12 работ.</h4>

                    <h4>А также:</h4>

                    <p>наша команда оставляет за собой право модерации информации и фотографий, размещаемых на сайте Ремонтас24.</p>

                    <p>Для защиты Ваших портфолио от плагиата нами специально разработан и используется водяной знак, представляющий собой надпись с названием ресурса REMONTAS24.RU, который автоматически проставляется на все загружаемые Вами фотографии.</p>

                    <p>Мы не определяем и не регламентируем ценовую политику мастеров, зарегистрировавшихся на ресурсе Ремонтас24, и при этом рекомендуем сообщать своим потенциальным Заказчикам корректную и правдивую информацию о своих услугах.
                    </p>

                    <h3>Наша цель -
                    <br/>
создание сервиса, который позволит как физическим, так и юридическим лицам находить правдивую и объективную информацию относительно частичной или полной отделки и ремонта помещений.
</h3>

                    <h2>СПАСИБО ЗА ПОНИМАНИЕ И УВАЖЕНИЕ К ПРАВИЛАМ НАШЕГО САЙТА!</h2>

                </div>
            </div>
        </div>

    </div>
</div>