<div class="wrapper" ng-controller="mainController">
    <div class="content">
        <div class="header">
            <div class="container clearfix">
                <a href="/" class="logo"></a>
                <ul class="top-menu">
                    <li ng-class="{active: currentPage=='remontas.searchPage'}">
                        <a href="/">Главная</a>
                    </li>
                    <li ng-class="{active: currentPage=='remontas.lk'}" class="dropdown" ng-mouseenter="setMasteramPodmenuVisible(true)" ng-mouseleave="setMasteramPodmenuVisible(false)">
                        <a href="#" ng-click="showAuthRegForm()">{{nameOfMasterMenu()}}</a>
                        <div class="podmenu" ng-class="{lk:isAuth()}" ng-if="showMasteramPodmenu">
                            <ul class="active">
                                <li ng-if="!isAuth()"><a href="#" class="open-modal" ng-click="showAuthRegForm()">Вход/Регистрация</a></li>
                                <li><a href="#" ui-sref="remontas.howWorks">Как это работает</a></li>
                                <li ng-if="isAuth()"><a href="#" ng-click="logout()">Выйти</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
                <div class="comparison-list" ui-sref="remontas.compareList"><span>{{getFavoritesCount()}}</span>Список сравнения</div>
            </div>
        </div>

        <div ui-view></div>

    </div>


    <div class="footer">
        <div class="container clearfix">
            <ul class="bottom-menu">
                <li><a href="#" ui-sref="remontas.about"><span class="icon-info"></span>О проекте</a></li>
                <li><a href="#" ui-sref="remontas.agreement"><span class="icon-doc"></span>Договор оферты</a></li>
            </ul>
            <div class="social">
                <div class="descr">Мы в соц. медиа</div>
                <a href="http://vk.com/remontas24" class="vk"></a>
                <a href="https://www.facebook.com/remontas24" class="fb"></a>
            </div>
        </div>
    </div>

    <div id="order-btn" class="open-modal" ng-if="!isAuth()" ng-click="showInvoiceForm()"></div>

</div>