<div id="modal">
    <!-- Вход/Регистрация -->
    <div id="auth-tabs" class="active">
        <div class="close-modal" ng-click="closeWindow()"></div>

        <div class="tabs-header clearfix">
            <div ng-class="{active: model.activeTab == 'auth'}" data-tab="tab-1" ng-click="model.activeTab = 'auth'">Вход</div>
            <div ng-class="{active: model.activeTab == 'reg'}" data-tab="tab-2" ng-click="model.activeTab = 'reg'">Регистрация</div>
        </div>

        <div class="tabs-content clearfix">
            <div class="clearfix" id="tab-1" ng-class="{active: model.activeTab == 'auth'}">
                <ng-form name="loginForm">
                    <!--                    <input type="email" name="login" placeholder="Email" required ng-class="{required: loginForm.login.$invalid}" ng-model="model.credentials.username" />-->
                    <input type="text" name="login" placeholder="Email" required ng-class="{required: loginForm.login.$invalid}" ng-model="model.credentials.username" />
                    <input type="password" name="pass" placeholder="Пароль" required ng-class="{required: loginForm.pass.$invalid}" ng-model="model.credentials.password" />
                    <div class="wrongCredentials" ng-show="model.wrongCredentials">Неверный логин или пароль</div>
                    <a href="#" class="open-modal" data-modal-name="forget">Забыли пароль?</a>
                    <button ng-click="login(model.credentials)">Вход</button>
                    <!-- <button ng-disabled="loginForm.pass.$invalid||loginForm.login.$invalid" ng-click="login(credentials)">Вход</button> -->
                </ng-form>
            </div>

            <div class="clearfix" id="tab-2" ng-class="{active: model.activeTab == 'reg'}">
                <div ng-if="!model.registerError">
                    <div style="text-align: center">Кто вы?</div>

                    <div class="sub-tabs-header clearfix">
                        <div class="sub-tab-1" ng-class="{active: model.regForm.kind_profile == 'phys'}" ng-click="model.regForm.kind_profile = 'phys'">Частная бригада</div>
                        <div class="sub-tab-2" ng-class="{active: model.regForm.kind_profile == 'org'}" ng-click="model.regForm.kind_profile = 'org'">Компания</div>
                    </div>

                    <div id="sub-tab-1" ng-class="{active: model.regForm.kind_profile == 'phys'}">
                        <ng-form name="regPhysForm">
                            <input type="text" name="sername" placeholder="Фамилия" ng-model="model.regForm.sername" required ng-class="{required: regPhysForm.sername.$invalid}" />
                            <input type="text" name="name" placeholder="Имя" ng-model="model.regForm.name" required ng-class="{required: regPhysForm.name.$invalid}" />
                            <input type="text" placeholder="Отчество" ng-model="model.regForm.patronymic" />
                            <input type="email" name="email" placeholder="Ваш email" ng-model="model.regForm.email" required ng-class="{required: regPhysForm.email.$invalid}" />
                            <input type="password" name="password" placeholder="Пароль" ng-model="model.regForm.password" required ng-class="{required: regPhysForm.password.$invalid}" />
                            <a href="#" class="open-hint" data-hint-name="hint-what-gives">Что даёт?</a>
                            <button ng-click="sendRegisterRequest()">Регистрация</button>
                        </ng-form>
                    </div>

                    <div id="sub-tab-2" ng-class="{active: model.regForm.kind_profile == 'org'}">
                        <ng-form name="regOrgForm">
                            <input type="text" name="name" placeholder="Название компании" ng-model="model.regForm.name" required ng-class="{required: regOrgForm.name.$invalid}" />
                            <input type="email" name="email" placeholder="Ваш email" ng-model="model.regForm.email" required ng-class="{required: regOrgForm.email.$invalid}" />
                            <input type="password" name="password" placeholder="Пароль" ng-model="model.regForm.password" required ng-class="{required: regOrgForm.password.$invalid}" />
                            <a href="#" class="open-hint" data-hint-name="hint-what-gives">Что даёт?</a>
                            <button ng-click="sendRegisterRequest()">Регистрация</button>
                        </ng-form>
                    </div>

                    <!-- Что даёт регистрация? -->
                    <div id="hint-what-gives" class="hint-window">
                        <div class="corner"></div>
                        <div class="body">
                            <p>Какой-то HTML-инфотекст</p>
                        </div>
                    </div>
                    <!-- /Что даёт регистрация? -->

                </div>

                <div ng-if="model.registerError">
                    <div style="text-align: center">При попытке зарегистрироваться, произошла ошибка: {{model.errorMessage}}</div>
                    <button ng-click="registerOnceMore()">Попробовать еще раз</button>
                </div>

            </div>
        </div>
    </div>
    <!-- /Вход/Регистрация -->
</div>
