<div id="page-wrapper">

    <div class="alert" ng-class="{'alert-success': saveStatus.success, 'alert-danger': !saveStatus.success}" role="alert" ng-if="saveStatus.show">{{saveStatus.text}}</div>

    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="submit" class="btn btn-default" ng-click="saveMaster()">Сохранить</button>
                <button type="submit" class="btn btn-default" ng-click="cancel()">Отмена/Выйти</button>

                <label class="pull-right">Я понимаю, что делаю
                    <input type="checkbox" ng-model="model.deleteConfirm">
                </label>
                <br/>
                <button type="submit" class="btn btn-danger pull-right" ng-click="deleteMaster()" ng-disabled="!model.deleteConfirm">Удалить мастера</button>

            </div>
        </div>

        <label>Тип профиля</label>

        <br>

        <div class="radio-inline">
            <label>
                <input type="radio" ng-model="master.kind_profile" name="profileKind" id="physRadio" value="phys" checked> Частник
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" ng-model="master.kind_profile" name="profileKind" id="orgRadio" value="org"> Организация
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="inputFile">Аватарка</label>
        <br>
        <img ngf-src="formData.avatar" ng-if="formData.avatar!=null">
        <img ng-src="{{configUrl.img_url_path + master.avatar}}" ng-if="formData.avatar==null">

        <input type="file" id="inputFile" ngf-select ng-model="formData.avatar" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB">
    </div>

    <div class="form-group" ng-if="master.kind_profile=='phys'">
        <label for="inputSername">Фамилия</label>
        <input type="text" ng-model="master.sername" class="form-control" id="inputSername">
    </div>
    <div class="form-group">
        <label for="inputName">Имя или название фирмы</label>
        <input type="text" ng-model="master.name" class="form-control" id="inputName" placeholder="Имя или название">
    </div>
    <div class="form-group" ng-if="master.kind_profile=='phys'">
        <label for="inputPatronymic">Отчество</label>
        <input type="text" ng-model="master.patronymic" class="form-control" id="inputPatronymic">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="text" ng-model="master.email" class="form-control" id="inputEmail">
    </div>
    <div class="form-group">
        <label for="inputphone1">Телефон 1</label>
        <input type="text" ui-mask="+7 (999) 999 99 99" ng-model="master.phone1" class="form-control" id="inputphone1">
    </div>
    <div class="form-group">
        <label for="inputphone2">Телефон 2</label>
        <input type="text" ui-mask="+7 (999) 999 99 99" ng-model="master.phone2" class="form-control" id="inputphone2">
    </div>
    <div class="form-group">
        <label for="inputDetail">Подробное описание</label>
        <!--  <input type="textarea" ng-model="master.detail" class="form-control" id="inputDetail" placeholder="Подробное описание" rows="3"> -->
        <textarea ng-model="master.detail" class="form-control" id="inputDetail" placeholder="Подробное описание" rows="3"></textarea>
    </div>

    <ul class="nav nav-tabs">
        <li ng-class="{'active': formData.currentPage=='services'}"><a href="#" ng-click="formData.currentPage = 'services'">Услуги</a></li>
        <li ng-class="{'active': formData.currentPage=='works'}"><a href="#" ng-click="formData.currentPage = 'works'">Работы</a></li>
        <li ng-class="{'active': formData.currentPage=='score'}"><a href="#" ng-click="formData.currentPage = 'score'">Баллы</a></li>
    </ul>

    <div ng-show="formData.currentPage=='services'">
        <div class="panel panel-default">
            <div class="panel-heading">Дополнительные услуги</div>
            <div class="panel-body">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-checked="isCheckedAdditionalService('contractWork')" ng-click="checkAdditionalService('contractWork')"> Работа по договору
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-checked="isCheckedAdditionalService('masterOnHour')" ng-click="checkAdditionalService('masterOnHour')"> Услуга мастер на час
                </label>

            </div>
        </div>

        <div class="panel panel-default" ng-if="master.categories != undefined">
            <div class="panel-heading">Категории и услуги</div>
            <div class="panel-body">

                <label class="checkbox-inline" ng-repeat="category in categories|filter:{type:'category'}">
                    <input type="checkbox" ng-model="category.checked" ng-checked="isMasterCategory(category)" ng-click="checkCategory(category)"> {{category.val}}
                </label>

                <div class="panel panel-default" ng-repeat="category in categories|filter:{type:'category'}|filter:onlyMasterCategory()">
                    <div class="panel-heading">
                        <h3>{{category.val}}</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="kind_service in categories|filter:{parent_id:category._id}">
                                <h4>{{kind_service.val}} <button type="button" class="btn btn-primary" ng-click="formData[kind_service._id].showAddBlock=true"><i class="fa fa-plus-circle"></i></button></h4>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Услуга</th>
                                            <th>Цена</th>
                                            <th>Ед. изм</th>
                                            <th>*</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="service in masterServiceArray(category, kind_service)">
                                            <td>{{service.name}}</td>
                                            <td>{{service.price}}</td>
                                            <td>{{service.measure}}</td>
                                            <td><a href="#" ng-click="deleteService(category, kind_service,service)"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="panel panel-default" ng-if="formData[kind_service._id].showAddBlock">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="comboService">Услуга</label>
                                            <ui-select id="comboService" ng-model="formData[kind_service._id].newService" theme="bootstrap" on-select="">
                                                <ui-select-match>
                                                    <span ng-bind="$select.selected.val"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="service in categories|filter:{parent_id:kind_service._id}|filter:onlyNewServices(category, kind_service)">
                                                    <span ng-bind="service.val"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                            <label for="inputPrice">Цена</label>
                                            <input type="number" class="form-control" id="inputPrice" ng-model="formData[kind_service._id].price">

                                        </div>

                                        <button type="button" class="btn btn-danger pull-right" ng-click="formData[kind_service._id].showAddBlock=false"> <i class="fa fa-ban"></i></button>
                                        <button type="button" class="btn btn-success pull-right" ng-click="addService(category, kind_service,formData[kind_service._id])" ng-disabled="formData[kind_service._id].newService==null"><i class="fa fa-check-circle"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div ng-show="formData.currentPage=='works'">

        <button type="submit" class="btn btn-default" ng-click="addWork()">Добавить работу</button>

        <div class="panel panel-default" ng-repeat="work in master.works">
            <div class="panel-heading"><a href="#" ng-click="formData.worksCollapse['work'+$index]=!formData.worksCollapse['work'+$index]">Работа {{$index+1}}. Фото: {{work.photos.length}}. {{work.description}}</a>
                <button type="button" class="btn btn-danger" ng-click="deleteWork(work)">Удалить</button>
            </div>
            <div class="panel-body" ng-class="{'collapse':!formData.worksCollapse['work'+$index]}">

                <div class="form-group">
                    <label for="inputWorkDescription">Описание работы</label>
                    <textarea ng-model="work.description" class="form-control" id="inputWorkDescription" rows="3"></textarea>
                </div>

                <button type="file" ngf-select="addPhoto($file, $invalidFiles,work)" accept="image/*" ngf-max-size="2MB" class="btn btn-default">Добавить фото</button>
            </div>

            <table class="table" ng-class="{'collapse':!formData.worksCollapse['work'+$index]}">
                <tbody>
                    <tr ng-repeat="photo in work.photos ">
                        <td>
                            <a href="# " class="thumbnail ">
                                <img ng-src="{{configUrl.img_url_work_path +photo.filename}}" ng-if="!photo.new">
                                <img ngf-src="formData.uploadData[photo.filename]" ng-if="photo.new">
                            </a>
                        </td>
                        <td>
                            <textarea ng-model="photo.description " class="form-control " rows="4 "></textarea>
                        </td>
                        <td><a href="#" ng-click="deletePhoto(work.photos, photo)"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div ng-show="formData.currentPage=='score'">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Статус</th>
                    <th>Описание</th>
                    <th>Кол-во баллов</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="score in scoreDetail.details">
                    <td>
                        <h1 ng-if="score.status" class="text-success text-center"><i class="fa fa-check-square" aria-hidden="true"></i></h1>
                        <h1 ng-if="!score.status" class="text-danger text-center"><i class="fa fa-ban" aria-hidden="true"></i></h1>
                    </td>
                    <td>
                        <h2 class="text-center"><strong>{{score.description}}</strong></h2>

                        <table>
                            <tbody>
                                <tr ng-repeat="subscore in score.details">
                                    <td>
                                        <span ng-if="subscore.status" class="text-success"><i class="fa fa-check-square" aria-hidden="true"></i></span>
                                        <span ng-if="!subscore.status" class="text-danger"><i class="fa fa-ban" aria-hidden="true"></i></span>
                                    </td>
                                    <td>{{subscore.description}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                    <td>
                        <h2 class="text-center"><strong>{{score.score}}</strong></h2></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
