<div id="page-wrapper">

    <div class="alert" ng-class="{'alert-success': saveStatus.success, 'alert-danger': !saveStatus.success}" role="alert" ng-if="saveStatus.show">{{saveStatus.text}}</div>

    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="submit" class="btn btn-default" ng-click="saveMaster()">Сохранить</button>
                <button type="submit" class="btn btn-default" ng-click="cancel()">Отмена/Выйти</button>
            </div>
        </div>

        <label>Тип профиля</label>

        <br>

        <div class="radio-inline">
            <label>
                <input type="radio" ng-model="master.kind_profile" name="profileKind" id="physRadio" value="phys" checked> Частник
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" ng-model="master.kind_profile" name="profileKind" id="orgRadio" value="org"> Организация
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="inputFile">Аватарка</label>
        <br>
        <img ngf-src="master.avatar">

        <input type="file" id="inputFile" ngf-select ng-model="master.avatar" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB">
    </div>

    <div class="form-group" ng-if="master.kind_profile=='phys'">
        <label for="inputSername">Фамилия</label>
        <input type="text" ng-model="master.sername" class="form-control" id="inputSername">
    </div>
    <div class="form-group">
        <label for="inputName">Имя или название фирмы</label>
        <input type="text" ng-model="master.name" class="form-control" id="inputName" placeholder="Имя или название">
    </div>
    <div class="form-group" ng-if="master.kind_profile=='phys'">
        <label for="inputPatronymic">Отчество</label>
        <input type="text" ng-model="master.patronymic" class="form-control" id="inputPatronymic">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="text" ng-model="master.email" class="form-control" id="inputEmail">
    </div>
    <div class="form-group">
        <label for="inputphone1">Телефон 1</label>
        <input type="text" ui-mask="+7 (999) 999 99 99" ng-model="master.phone1" class="form-control" id="inputphone1">
    </div>
    <div class="form-group">
        <label for="inputphone2">Телефон 2</label>
        <input type="text" ui-mask="+7 (999) 999 99 99" ng-model="master.phone2" class="form-control" id="inputphone2">
    </div>
    <div class="form-group">
        <label for="inputWorks">Количество работ</label>
        <input type="text" ng-model="master.jobs_count" class="form-control" id="inputWorks" placeholder="Количество работ">
    </div>
    <div class="form-group">
        <label for="inputDetail">Подробное описание</label>
        <!--  <input type="textarea" ng-model="master.detail" class="form-control" id="inputDetail" placeholder="Подробное описание" rows="3"> -->
        <textarea ng-model="master.detail" class="form-control" id="inputDetail" placeholder="Подробное описание" rows="3"></textarea>
    </div>

    <div class="panel panel-default" ng-if="master.categories != undefined">
        <div class="panel-heading">Категории и услуги</div>
        <div class="panel-body">


            <label class="checkbox-inline" ng-repeat="category in categories|filter:{type:'category'}">
                <input type="checkbox" ng-model="category.checked" ng-checked="isMasterCategory(category)" ng-click="checkCategory(category)"> {{category.val}}
            </label>

            <div class="panel panel-default" ng-repeat="category in categories|filter:{type:'category'}|filter:onlyMasterCategory()">
                <div class="panel-heading">
                    <h3>{{category.val}}</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4" ng-repeat="kind_service in categories|filter:{parent_id:category._id}">
                            <h4>{{kind_service.val}} <i class="fa fa-plus-circle"></i></h4>

                            <div ng-repeat="service in masterServiceArray(category, kind_service)">{{service.name}} <a href="#" ng-click="deleteService(category, kind_service,service)"><i class="fa fa-trash"></i></a></div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <ui-select ng-model="popupData[kind_service._id].newService" theme="bootstrap" on-select="">
                                            <ui-select-match>
                                                <span ng-bind="$select.selected.val"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="service in categories|filter:{parent_id:kind_service._id}|filter:onlyNewServices(category, kind_service)">
                                                <span ng-bind="service.val"></span>
                                            </ui-select-choices>
                                        </ui-select>

                                        <label for="inputPrice">Цена</label>
                                        <input type="text" class="form-control" id="inputPrice" ng-model="popupData[kind_service._id].price">

                                    </div>

                                    <i class="fa fa-check-circle"></i><i class="fa fa-ban"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</div>
