<div id="page-wrapper" ng-controller="mastersController">

    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="myButton" class="btn btn-primary" ng-click="newMaster()">Создать</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Аватарка</th>
                    <th>Прочие данные</th>
                    <!--                    <th>Имя</th>-->

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="master in result.masters">

                    <td> {{$index + 1}}</td>
                    <td>
                        <a href="#" ui-sref="adminka.editMaster({ id: master.id })"><img ng-src="{{master.avatar}}"></a>
                    </td>
                    <td>{{master.name+'; ' +master.kind_profile+'; ' +master.email}}</td>


                </tr>

            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->


</div>
